<h1><%= @grocery.name %> - <%= @item.name %></h1>
<p><%= @item.description %></p>
<%= link_to "Edit Item", edit_grocery_item_path(@grocery, @item) %>
<%= link_to "Delete Item", grocery_item_path(@grocery, @item), method: :delete %>
<%= link_to "Back to Items", grocery_items_path(@grocery) %>
